# Package Managers
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-workspace.yaml
bun.lock
bun.lockb
skills-lock.json

# Miscellaneous
static/
src/posts/

# Settings
.agent/
.agents/
.claude/
.codex/
.github/
.vscode/
